nguage: ruby
rvm:
  - 1.9.2
  - 1.9.3
  - 2.0.0

env:
  - "RAILS_VERSION=3.2"
  - "RAILS_VERSION=master"

matrix:
  allow_failures:
    - env: "RAILS_VERSION=master"
  exclude:
    - rvm: 1.9.2
      env: "RAILS_VERSION=master"
