<header>
  <div class="hero">
    <nav>
      <h2>thoughtbot Community</h2>
      <a class="js-menu-trigger sliding-menu-button x" type="button" role="button" aria-label="Toggle Navigation">
        <span class="title">Projects</span>
        <span class="lines"></span>
      </a>
    </nav>
    <div class="js-menu sliding-menu-content">
      <ul>
        <li>
          <a href="http://github.com/thoughtbot/guides">
            <h3>Guides</h3>
            <p>Guides are Markdown files documenting thoughtbot's standard&nbsp;practices.</p>
          </a>
        </li>

        <li>
          <a href="http://github.com/thoughtbot/laptop">
            <h3>Laptop</h3>
            <p>Laptop is a script for getting your laptop set up for Ruby on Rails&nbsp;development.</p>
          </a>
        </li>

        <li>
          <a href="http://github.com/thoughtbot/dotfiles">
            <h3>Dotfiles</h3>
            <p>Dotfiles is a set of configuration files for zsh, vim, git, tmux, and&nbsp;ack.</p>
          </a>
        </li>

        <li>
          <a href="http://github.com/thoughtbot/suspenders">
            <h3>Suspenders</h3>
            <p>Suspenders is a CLI for creating Rails apps with thoughtbot's standard&nbsp;defaults.</p>
          </a>
        </li>

        <li>
          <a href="http://github.com/thoughtbot/bourbon">
            <h3>Bourbon</h3>
            <p>A comprehensive library of sass mixins that are designed to be as vanilla as&nbsp;possible.</p>
          </a>
        </li>

        <li>
          <a href="http://github.com/thoughtbot/neat">
            <h3>Neat</h3>
            <p>Neat is an open source fluid grid framework built on top of&nbsp;Bourbon.</p>
          </a>
        </li>

        <li>
          <a href="http://github.com/thoughtbot/clearance">
            <h3>Clearance</h3>
            <p>Clearance is a Ruby gem for authenticating users with email and password in Rails&nbsp;apps.</p>
          </a>
        </li>

        <li>
          <a href="http://github.com/thoughtbot/high_voltage">
            <h3>High Voltage</h3>
            <p>High Voltage is a Ruby gem for creating static pages, like ‘about us’, in Rails&nbsp;apps.</p>
          </a>
        </li>

        <li>
          <a href="http://github.com/thoughtbot/capybara-webkit">
            <h3>Capybara Webkit</h3>
            <p>Capybara Webkit is a capybara driver that uses WebKit via&nbsp;QtWebKit.</p>
          </a>
        </li>

        <li>
          <a href="http://github.com/thoughtbot/shoulda-matchers">
            <h3>Shoulda Matchers</h3>
            <p>Shoulda is a Ruby gem for writing powerful tests in Rails apps with very little&nbsp;code.</p>
          </a>
        </li>

        <li>
          <a href="http://github.com/thoughtbot/bourne">
            <h3>Bourne</h3>
            <p>Bourne is a Ruby gem for adding test spies to Mocha, a stubbing and mocking&nbsp;framework..</p>
          </a>
        </li>

        <li>
          <a href="http://github.com/thoughtbot/appraisal">
            <h3>Appraisal</h3>
            <p>Appraisal is a Ruby gem for testing against multiple versions of a dependency.</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="js-menu-screen menu-screen"></div>
    <div class="hero-inner">
      <img src="images/grill.svg" alt="Grill it!" class="hero-logo">
      <div class="hero-copy">
        <h1>Griddler</h1>
        <p>Simplify receiving emails in your Rails&nbsp;App</p>
      </div>
      <a href="https://github.com/thoughtbot/griddler">GitHub</a>
    </div>
  </div>
</header>
