$sliding-menu-border-color: $black;
$sliding-menu-background: lighten($sliding-menu-border-color, 5);
$sliding-menu-color: #fff;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $base-accent-color;
$sliding-menu-color-hover: #fff;

.sliding-menu-content {
  @include position(absolute, -500px 0px auto 0px);
  @include transition(all 0.6s ease);
  background: rgba($black, 0.8);
  opacity: 0;
  z-index: 2;
  -webkit-overflow-scrolling: touch;

  &.is-visible {
    top: 60px;
    opacity: 1;
  }

  ul {

    li {
      @include fill-parent;

      @include media(min-width $medium-screen max-width em(1040)) {
        @include span-columns(6);
        @include omega(2n);
      }

      @include media(min-width em(1041) max-width em(1400)) {
        @include span-columns(4);
        @include omega(3n);
      }

      @include media(min-width em(1401) max-width em(1680)) {
        @include span-columns(3);
        @include omega(4n);
      }

      @include media(min-width em(1681)) {
        @include span-columns(2);
        @include omega(6n);
      }
    }

    a {
      color: white;
      display: block;
      font-weight: bold;
      padding: 1.25em;

      &:hover {
        background-color: $sliding-menu-background-hover;
        color: $sliding-menu-color-hover;
      }

      h3 {
        font-family: $sans-serif;
        font-size: em(24);
        font-weight: bold;
        text-transform: uppercase;
      }

      p {
        display: none;
        font-size: 1rem;
        font-weight: normal;
        line-height: rem(21);
        margin: .25em 0 0;

        @include media($medium-screen) {
          display: block;
        }
      }
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }

  @include media($medium-screen) {
    padding: 1em;
  }
}

.menu-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: $sliding-menu-border-color;
  opacity: 0;
  visibility: hidden;
  z-index: 1;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

// Based on code by Diego Eis

/* ====================== lines button ==================================================*/

$transition: .3s;// increase this to see the transformations happen in slow motion
$button-size : 1.5rem;

.js-menu-trigger {
  @include transition ($transition);
  cursor: pointer;
  display: block;
  line-height: 60px;
  position: absolute;
  right: 1em;
  top: 0;

  &:hover {
    opacity: 1;
  }
  &:active {
    transition: 0;
  }

  .title {
    color: rgba(white, 0.8);
    display: none;
    font-family: "Gotham","Gotham SSm A","Gotham SSm B","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    letter-spacing: em(1);
    padding-right: em(10);
    text-transform: uppercase;

    @include media($medium-screen) {
      display: inline-block;
    }
  }
}
//common to all three-liners
@mixin line {
  @include transition ($transition);
  background: rgba(white, 0.8);
  display: inline-block;
  height: 2px;
  width: $button-size;
}
//common to all three-liners
.lines {
  @include line;
  position: relative;
  top: -5px;

  &:before, &:after {
    @include line;
    @include transform-origin($button-size/14 center);
    content: '';
    left: 0;
    position: absolute;
  }

  &:before {
    top: $button-size/4;
  }

  &:after {
    top: -$button-size/4;
  }
}

.js-menu-trigger:hover {
  .lines {
    &:before {
      top: $button-size/3.5;
    }

    &:after {
      top: -$button-size/3.5;
    }
  }
}

//arrow up only: just rotate by 90degrees
.js-menu-trigger.arrow-up.close {
  @include transform (scale3d(.8, .8, .8) rotate3d(0, 0, 1, 90deg));
}

//three-lines to x
.js-menu-trigger.x.close{

  .lines {
    background: transparent;

    &:before, &:after {
      @include transform-origin (50% 50%);
      top: 0;
      width: $button-size;
    }

    &:before {
      @include transform (rotate3d(0, 0, 1, 45deg));
    }

    &:after {
      @include transform (rotate3d(0, 0, 1, -45deg));
    }
  }
}
