@import "normalize";
@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";

body {
  background-color: $base-body-color;
}

.container {
  @include outer-container;

  section {
    @include span-columns(10);
    @include shift(1);

    @include media($large-screen) {
      @include span-columns(8);
      @include shift(2);
    }
  }
}

// Nav
///////////////////////////////////////////////////////////////////////////////

nav {
  background-color: rgba(26, 26, 26, 0.8);
  height: 60px;
  padding: 0 1em;
  position: relative;
  z-index: 9999;

  @include media($large-screen) {
    text-align: center;
  }

  h2 {
    @include transition (all 0.3s);
    color: $red;
    font-family: "Gotham","Gotham SSm A","Gotham SSm B","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: em(18);
    font-weight: bold;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 60px;
    margin: 0;
    vertical-align: baseline;
    zoom: 1;
  }
}

// Hero
///////////////////////////////////////////////////////////////////////////////

.hero {
  $hero-background: $base-accent-color;
  $hero-color: white;

  background: url(../images/spatula.svg);
  background-color: $hero-background;
  background-repeat: no-repeat;
  background-position: 50% 10%;
  background-size: auto 110%;

  @include media($large-screen) {
    background-position: 30% 10%;
    background-size: auto 180%;
  }

  img.hero-logo {
    height: em(60);
    margin-bottom: 1em;
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    padding: em(50) 2em 2em;
    margin: auto;
    text-align: center;

    @include media($large-screen) {
      padding: em(70);
    }

    a {
      @include transition (all 0.3s);
      background: none;
      border: 2px solid white;
      border-radius: $base-border-radius;
      cursor: pointer;
      color: white;
      display: inline-block;
      font-size: $base-font-size * 1.25;
      font-weight: 800;
      line-height: 2.8em;
      height: 3em;
      max-width: 18em;
      outline: none;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      white-space: nowrap;
      width: 100%;

      &:hover,
      &:active {
        color: $red;
        background-color: white;
      }

      @include media(em(480)) {
        width: 12em;
      }
    }

    .hero-copy {
      text-align: center;

      h1 {
        @include transition (all 0.3s);
        font-size: 3em;
        line-height: 1em;
        text-transform: uppercase;

        @include media($large-screen) {
          font-size: 5em;
        }
      }

      p {
        margin: auto;
        margin-bottom: 1em;
        font-weight: 700;

        @include media($medium-screen) {
          font-size: 1.5em;
          margin-bottom: 2em;
        }
      }
    }
  }
}

// Content
///////////////////////////////////////////////////////////////////////////////

main {
  section {
    padding: 2em 0;

    @include media($large-screen) {
      padding: 3.75em 0;
    }

    &.code {
      padding-top: 0;
      margin-top: 0;
    }

    h2 {
      border-top: 1px solid #dedcd2;
      font-family: $sans-serif;
      font-size: em(24);
      font-weight: bold;
      text-transform: uppercase;
      margin: 1.5em 0 .5em;
      padding: 1.5em 0 0;

      &:first-child {
        margin-top: 0;
      }

      @include media($large-screen) {
        margin: 2em 0 .8em;
        padding: 2em 0 0;
      }
    }

    ul {
      @extend %default-ul;
      font-size: 1.125em;
      line-height: 1.5em;
      margin-bottom: ($base-line-height * .75);
    }
  }
}

p.large {
  font-size: $base-font-size * 1.5;
  line-height: 1.25em;
  text-align: center;
  //padding: 0 1.5em;
  margin: 0;
}

// Footer
///////////////////////////////////////////////////////////////////////////////

footer {
  background-color: $base-font-color;
  color: $light-gray;
  padding: 3em 0;

  a {
    color: white;
    font-weight: bold;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
