// Neat Overrides
///////////////////////////////////////////////////////////////////////////////
// $column: 90px;
// $gutter: em(0);
// $grid-columns: 12;
// $max-width: em(1140);

// Neat Breakpoints
///////////////////////////////////////////////////////////////////////////////
$medium-screen: em(640);
$large-screen: em(1040);
$xlarge-screen: em(1280);
