---
layout: default
---
<section>
  <p class="large">
    Griddler is a Rails engine (full plugin) that provides an endpoint for the
    <a href="http://sendgrid.com/docs/API%20Reference/Webhooks/parse.html">SendGrid parse api</a>,
    <a href="http://cloudmailin.com">Cloudmailin parse api</a>,
    <a href="http://developer.postmarkapp.com/developer-inbound-parse.html">Postmark parse api</a> or
    <a href="http://help.mandrill.com/entries/21699367-Inbound-Email-Processing-Overview">Mandrill parse api</a>
    that hands off a built email object to a class implemented by you.
  </p>
</section>
<section>
  <h3>Tutorials</h3>
  <ul>
    <li>SendGrid has done a great tutorial on integrating Griddler with your application.</li>
    <li>And of course, view our own blog post on the subject over at Giant Robots.</li>
  </ul>
</section>
